<div class="header">
  <nav>
    <ul class="nav">
      <li><a href="/">Artists</a></li>
      <li><a href="/albums">Albums</a></li>
      <li><a href="/songs">Songs</a></li>
    </ul>
  </nav>
</div>
