<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Player</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
    </div>
    <p>INDIVIDUAL ALBUM</p>
  </body>
</html>
