<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Player</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
    </div>
    <div class="artists-list">
      <% artists.forEach((artist) => { %>
        <a href="/artist/<%= artist.id %>" class="artist-info">
          <h4 class="artist-name"><%= artist.name %></h4>
          <p class="artist-genre"><%= artist.genre %></p>
        </a>
      <% }) %>
    </div>
  </body>
</html>
